---
const stack = {
    Backend: [
        {
            name: "Go",
            skillicon: "GoLang",
            url: "https://go.dev",
        },
        {
            name: "Python",
            skillicon: "Python-Dark",
            url: "https://python.org/",
        }
    ],

    Databases: [
        {
            name: "MongoDB",
            skillicon: "MongoDB",
            url: "https://www.mongodb.com",
        },
    ],

    Linux: [
        {
            name: "Debian",
            skillicon: "Debian-Dark",
            url: "https://www.debian.org",
        },
        {
            name: "Docker",
            skillicon: "Docker",
            url: "https://www.docker.com",
        },
        {
            name: "Bash",
            skillicon: "Bash-Dark",
            url: "https://www.gnu.org/software/bash",
        },
    ],

    DevOps: [
        {
            name: "GitHub Actions",
            skillicon: "GithubActions-Dark",
            url: "https://github.com/features/actions",
        },
        {
            name: "Jenkins",
            skillicon: "Jenkins-Dark",
            url: "https://www.jenkins.io",
        },
    ],

    Cloud: [
        {
            name: "Cloudflare",
            skillicon: "Cloudflare-Dark",
            url: "https://www.cloudflare.com",
        },
        {
            name: "Google Cloud Platform",
            skillicon: "GCP-Dark",
            url: "https://cloud.google.com",
        },
        {
            name: "Azure",
            skillicon: "Azure-Dark",
            url: "https://azure.microsoft.com",
        },
        {
            name: "Vercel",
            skillicon: "Vercel-Dark",
            url: "https://vercel.com",
        },
    ],
}
---

<div>
    {
        Object.entries(stack).map(([name, items]) => (
            <section>
                <h3>{name}</h3>
                <div class="items">
                    {items.map(({ name, url, skillicon }) => (
                        <a href={url} target="_blank">
                            <img 
                                src={`https://cdn.jsdelivr.net/gh/tandpfun/skill-icons@main/icons/${skillicon}.svg`}
                                title={name}
                            />
                        </a>
                    ))}
                </div>
            </section>
        ))
    }
</div>

<style>
    section {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;
        margin-bottom: 0.5em;
    }

    h3 {
        display: inline-block;
        margin: 0;
        font-weight: normal;
        min-width: 6em;
        text-align: center;
        background: var(--surface2);
        padding: 0.5em;
        border-radius: 9999px;
    }

    .items {
        padding: 0.2em;
    }

    a {
        all: unset;
        cursor: pointer;
    }

    img {
        height: 2em;
        width: 2em;
        object-fit: fill;
    }
</style>
